<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.picnii.testgap"
        versionCode = "1" 
        version     = "1" >

    <!-- versionCode is optional and Android only -->

    <name>Test Gap</name>

    <description>
       Test
    </description>

    <author href="http://npop.in.th" email="sonpop@picnii.me">
        Sompop Kulapalanont
    </author>
 
</widget>