


<input type="text" ng-model="pic_url">
<a ng-href="{{pic_url}}" target="_blank" >
	<img ng-src="{{pic_url}}" />
</a>

<div>
	Hi my name is {{people.name}} age 
	{{people.age}}<br/>
	{{people}}
</div>
<div>
	<button ng-click="test(5)">TEST</button>
	<button ng-click="test('popopopopop')">TEST String</button>
	<button ng-click="test(people)">TEST Object</button>
</div>

<table class="table">
	<tr ng-repeat="item in products">
		<td>{{item.name}}</td>
		<td>{{item.price}}</td>
	</tr>
</table>










